PORT=5000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/proctoring_db
JWT_SECRET=your_secret_key_here

# MailerSend email configuration
MAILERSEND_API_KEY=mlsn.87cb49cbc88fc369f23e80302e5723c89bebc96c2d9970d7c03e0884007d1bfa
MAILERSEND_FROM_EMAIL=test-zxk54v8565zljy6v.mlsender.net
MAILERSEND_FROM_NAME=ProctorAI
